<div>
    <button mat-button style=" background-color: orangered;" (click)="volverAtras()"> Volver Atrás</button>  
</div>
<div style="display: flex;
margin-top: 20px;   justify-content:space-around;">
    <div class="productos-container" style="height:500px; overflow-y:auto; max-height: 450px; max-width: 65%;"> 
        <ul *ngFor="let prod of listaNueva">
            <mat-card [ngStyle]="{'width':'400px','height':'300px'}">
                <mat-card-content fxLayout="row">
                    <!--titulo prod-->
                    <mat-card-header style="background-color:rgb(34, 33, 33);">
                        <mat-card-subtitle Style="color:white;" >
                           <p>nombre:{{prod.nombre}}</p>
                            <!--subcategoria-->
                            <p [ngStyle]="{'color':'white'}" >
                            subcat:{{prod.nombre_cat}}
                            </p>
                        </mat-card-subtitle>
                       
                    </mat-card-header>
                    <br>
                    <div class="elems" style="display: flex;
                    justify-content: center;">
                        <!--imagen prod-->
                        <div>
                        <!-- <img mat-card-image src="{{url_key}}{{prod.imagenes[0].nombre}}{{med}}" alt="" style="width: 120px;border-radius:5%;"> -->    
                        <img mat-card-image src="{{prod.imagen}}" alt="" style="width: 120px;border-radius:5%;">
                        </div>
                    
                        <br>
                        <!--precio prod-->
                        <div Style="color:white; margin-left: 10px;" >
                            Precio: ${{prod.precio}}
                        </div>
                    </div>
                    <br>
                    <!--boton-->
                    <div>
                        <button mat-raised-button color="warn" style="width:90%;" (click)="agregarProducto(prod)"> agregar</button>
                    </div>
                </mat-card-content>

            </mat-card>
        </ul>
    </div>
    <div style="width: 350px;
                margin-left: 20px;
                ">
            <div style="display: inline-flex;
            justify-content: center;
            width: 350px;">
                <div style="width:50px;">
                    <mat-icon class="icono-carrito"> shopping_cart</mat-icon>
                    <mat-badge class="cantidad-productos" matBadge="{{carrito}}" matBadgeSize="small" matBadgeColor="warn"></mat-badge>
                </div >
                <div>
                    <button mat-raised-button color="warn" style=""> Vaciar Carrito</button>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <app-lista-compras></app-lista-compras>
            </div>

    </div>
</div>

<!--<p>prod-filtrados works!</p>-->
