<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" style="margin: 0 auto;"></mat-spinner>
        <form  *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <h1>Ingrese sus datos</h1>
    <hr>
    <br>
    <!-- nombre, apellido, dni,mail y teléfono. -->
<!-- <div style=" display: inline-flex;
flex-wrap: nowrap;"> -->
    <mat-form-field style="width: 85%;">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field style="width: 85%;">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput formControlName="apellido">
      </mat-form-field>
<!-- </div> -->
<div style=" display: inline-flex;
flex-wrap: nowrap;">
      <mat-form-field style="width: 39%;">
        <mat-label>Dni</mat-label>
        <input type="text" matInput formControlName="dni">
      </mat-form-field>

      <mat-form-field style="width: 57%; margin-left: 10px;">
        <mat-label>telefono</mat-label>
        <input type="text" matInput formControlName="telefono">
      </mat-form-field>

    </div>
      <div style=" display: inline-flex;
      flex-wrap: nowrap;">

<mat-form-field style="width: 48%;">
    <mat-label>email</mat-label>
    <input type="text" matInput formControlName="email">
  </mat-form-field>
      
      <mat-form-field style="width: 47%; margin-left: 10px;">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    </div>
      <br>
      <button type="submit" mat-raised-button color="warn" style="width: 85%; height: 50px;" [disabled]="form.invalid" >Aceptar</button>
        </form>
    
      
    </div>
</div>
